/* Train Schedule */

body{
    background-color: #45526e;
}
.row{
    margin: 20px;
}
.card-header{
    color: #fff;
    background-color: #007bff;
}
table{
    width: 100%;
}
th{
    text-align: center;
}
.time{
    text-align: right;
}

